<p id="notice"><%= notice %></p>

 <h2> <%= @user.username %> <% if @user.admin == true %> (admin) <% end %></h2>

<% if @user.ratings.empty? %>
   <p> No ratings given</p>
<% elsif @user.ratings.size == 1 %>
    <p> Has <%= @user.ratings.size %> rating, average score: <%= @user.average_rating %> </p>
<% else %>
   <p> Has <%= @user.ratings.size %> ratings, average score: <%= @user.average_rating %> </p>
<% end %>

<table class="table table-hover">
  <tr>
    <th>Score</th>
    <th>User</th>
    <th></th>
  </tr>

  <% @user.ratings.each do |rating| %>
      <tr>
        <td><%= rating %></td>
        <td><%= link_to rating.beer.name, rating.beer %></td>
        <td><% if @user == current_user %>
            <%= link_to 'Destroy', rating, :method => :delete, :data => { :confirm => 'Are you sure?' }, class:"btn btn-danger btn-sm active" %>
        <% end %>
        </td>
      </tr>
  <% end %>
</table>

<% if @user.beer_clubs.any? %>
    <h5>
      Member of
      <% @user.beer_clubs.each do |club| %>
          <%= link_to club.name, club %>
      <% end %>
    </h5>
<% end %>

<% if @user == current_user %>
   <%= link_to 'Edit', edit_user_path(@user), class:"btn btn-primary btn-warning active" %>
   <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?'}, class:"btn btn-danger btn-sm active" %>
<% end %>