<p id="notice"><%= notice %></p>

 <h2> <%= @user.username %> <% if @user.admin == true %> (admin) <% end %></h2>

<% if @user.ratings.empty? %>
   <p> No ratings given</p>
<% elsif @user.ratings.size == 1 %>
    <p> has <%= @user.ratings.size %> rating, average score: <%= @user.average_rating %> </p>
<% else %>
   <p> has <%= @user.ratings.size %> ratings, average score: <%= @user.average_rating %> </p>
<% end %>

<ul>
  <% @user.ratings.each do |rating| %>
      <li>
        <%= rating %>
        <% if @user == current_user %>
            <%= link_to 'delete', rating, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
        <% end %>
      </li>
  <% end %>
</ul>

<% if @user.beer_clubs.any? %>
    <p>
      member of
      <% @user.beer_clubs.each do |club| %>
          <%= link_to club.name, club %>
      <% end %>
    </p>
<% end %>

<% if @user == current_user %>
   <%= link_to 'Edit', edit_user_path(@user) %>
   <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>