<p id="notice"><%= notice %></p>

 <h2> <%= @user.username %> </h2>

<% if @user.ratings.empty? %>
   <p> no ratings given</p>
<% elsif @user.ratings.size == 1 %>
    <p> has <%= @user.ratings.size %> rating, average score: <%= @user.average_rating %> </p>
<% else %>
   <p> has <%= @user.ratings.size %> ratings, average score: <%= @user.average_rating %> </p>
<% end %>

<ul>
  <% @user.ratings.each do |rating| %>
      <li>
        <%= rating %>
        <% if @user == current_user %>
            <%= link_to 'delete', rating, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
        <% end %>
      </li>
  <% end %>
</ul>

<% if not @beerclub_ids.empty? %>
<p>
  <%= "belongs to" %>
   <% @beerclub_ids.each do |id| %>
     <%= link_to BeerClub.find(id).name, BeerClub.find(id) %>
  <% end %>
</p>
<% else %>
<p> <%= @user.username + " doesn't belong to any club." %> </p>
<% end %>

<% if @user == current_user %>
   <%= link_to 'Edit', edit_user_path(@user) %>
   <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>