<h2>Ratings</h2>

<%= link_to 'New rating', new_rating_path, class:'btn btn-primary btn-sm active' %>

<div class="row">

<div class="col-md-3">
<h3>Best <%= link_to "beers", beers_path %></h3>
<%= render 'list', ratings: Beer.top(3) %>
</div>

<div class="col-md-3">
<h3>Best <%= link_to "breweries", breweries_path %></h3>
<%= render 'list', ratings: Brewery.top(3) %>
</div>

<div class="col-md-3">
<h3>Best <%= link_to "styles", styles_path %></h3>
<%= render 'topstylelist', ratings: Style.top(3) %>
</div>

</div>

<div class="row">

<div class="col-md-6">
<h3>Most active users</h3>
<table class="table table-hover">
   <th></th>
   <th>Ratings count</th>

  <% User.top(3).each do |user| %>
   <tr>
     <td><strong style="font-size:20px;"><%= link_to user.username, user %></strong></td>
     <td><strong style="font-size:20px;"><%= user.ratings.count %></strong></td>
   </tr>
  <% end %>
</table>
</div>

<div class="col-md-6">
<h3>Recent ratings</h3>
<ul>
<% Rating.recent.each do |rating| %>
   <li><strong style="font-size:15px;"> <%= rating.score %> <%= rating.beer %> by <%= rating.user.username %> </strong></li>
<% end %>
</ul>
</div>

</div>


<%= link_to 'New rating', new_rating_path, class:'btn btn-primary btn-sm active' %>