<h1>Listing breweries</h1>

<p> number of breweries <%= @breweries.count %> </p>

<% if not flash[:error].nil? %>
    <b> <%= printRedColor(flash[:error]).html_safe %> </b>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Year</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @breweries.each do |brewery| %>
  <tr>
    <td><%= link_to brewery.name, brewery %></td>
    <td><%= brewery.year %></td>
    <td> <% if not current_user.nil? %> <%= link_to 'Edit', edit_brewery_path(brewery) %> <% end %></td>
    <td> <% if not current_user.nil? %> <%= link_to 'Destroy', brewery, method: :delete, data: { confirm: 'Are you sure?' } %> <% end %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Brewery', new_brewery_path %>
