<h1>Listing beers</h1>

<% if not flash[:error].nil? %>
    <b> <%= printRedColor(flash[:error]).html_safe %> </b>
<% end %>

<% cache "beerlist-#{@order}", skip_digest: true do %>

<table class="table table-hover">
  <tr>
    <th> <%= link_to 'Name', beers_path(order:"name") %> </th>
    <th> <%= link_to 'Style', beers_path(order:"style") %> </th>
    <th> <%= link_to 'Brewery', beers_path(order:"brewery") %> </th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @beers.each do |beer| %>
      <tr>
        <td><%= link_to beer.name, beer %></td>
        <td>
          <% if beer.style.nil? %>
              <%= "No style" %>
          <% else %>
              <%= beer.style.name %>
          <% end %>
        </td>
        <td>
          <% if beer.brewery.nil? %> No brewery
          <% else %>
              <%= link_to Brewery.where(:id => beer.brewery_id).first.name, brewery_path(Brewery.where(:id => beer.brewery_id).first.id) %>
          <% end %>
        </td>
        <td><%= edit_and_destroy_buttons(beer) %></td>
      </tr>
  <% end %>
</table>

<% end %>

<br/>

<%= link_to('New Beer', new_beer_path, class: "btn btn-primary btn-sm active") if current_user %>
