<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @beer.name %>
</p>

<p>
  <b>Style:</b>
  <%= @beer.style.name %>
</p>

<p>
  <b>Brewery:</b>
  <%= Brewery.find(@beer.brewery_id).name %>
</p>

<% if @beer.average_rating == 0 %>
    <p> Beer has not yet been rated! </p>
<% elsif @beer.ratings.count == 1 %>
    <p> Beer has 1 rating, score: <%= @beer.ratings.first.score %></p>
<% else %>
    <p> Beer has <%= @beer.ratings.count %> ratings, average: <%= @beer.average_rating %> </p>
<% end %>


<% if current_user %>

    <h4>give a rating:</h4>

    <%= form_for(@rating) do |f| %>
        <%= f.hidden_field :beer_id %>
        score: <%= f.number_field :score %>
        <%= f.submit %>
    <% end %>
    <%= link_to 'Edit', edit_beer_path(@beer) %>
<% end %>