<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @beer.name %>
</p>

<p>
  <b>Style:</b>
  <%= @beer.style %>
</p>

<p>
  <b>Brewery:</b>
  <%= Brewery.find(@beer.brewery_id).name %>
</p>

<% if @beer.average_rating == 0 %>
    <p> Beer has not yet been rated! </p>
<% elsif @beer.ratings.count == 1 %>
    <p> Beer has 1 rating, score: <%= @beer.ratings.first.score %></p>
<% else %>
    <p> Beer has <%= @beer.ratings.count %> ratings, average: <%= @beer.average_rating %> </p>
<% end %>


<%= link_to 'Edit', edit_beer_path(@beer) %> |
<%= link_to 'Back', beers_path %>
<%= link_to 'List of breweries', breweries_path %>
