<h1>Beer places search</h1>

<%= form_tag places_path do %>
    city <%= text_field_tag :city, params[:city] %>
    <%= submit_tag "Search" %>
<% end %>

<p id="notice"><%= notice %></p>

<% if @places %>
    <table>
      <thead>
      <% Place.rendered_fields.each do |f| %>
          <td><%=f %></td>
      <% end %>
      </thead>
      <% @places.each do |place| %>
          <tr>
            <% @ind = 0 %>
            <% Place.rendered_fields.each do |f| %>
                <% if @ind == 1 %>
                    <td><%= link_to place.send(f), place_path(place.id) %></td>
                <% else %>
                <td><%= place.send(f) %></td>
                <% end %>
                <% @ind = @ind + 1 %>
            <% end %>
          </tr>
      <% end %>
    </table>
<% end %>